# Copie este arquivo para .env e preencha somente o que for usar localmente.
# Nunca commite o arquivo .env com chaves reais por favor.

# Integração opcional com OpenWeather
OPENWEATHER_API_KEY=
OPENWEATHER_CIDADE=Brasilia

# Caminho do arquivo local de dados enquanto o projeto ainda não usa banco em nuvem.
# Na entrega final, este ponto deve ser substituído/adaptado para a persistência em banco.
GASTOSMART_DATA_FILE=data/gastos.json

